body {
  font-family: 'Montserrat', sans-serif; /* применение шрифта к body */
  background-color: #f5f7fa;
  padding: 20px; /*  внутренний отступ со всех сторон */
}

* {
  margin: 0px;
}

.main-container {
  background-color: #ffffff;
  display: flex;
}

.image {
  width: 370px; /* width - ширина */
  height: 354px; /* height - высота */
}

.contacts-title {
  color: #ffffff; /* цвет текста */
  font-size: 22px; /* размер шрифта */
  font-weight: 700; /* жирность шрифта  от 100 до 900, с шагом 100 */
  line-height: 24px; /* отступ между строками*/
  text-align: left; /* выравнивание текста слева */
  margin-top: 40px; /* отступ между блоками отступ сверху */
  margin-bottom: 15px; /* отступ между блоками отступ сверху */
}

.contacts-info-container {
  color: #ffffff; /* цвет текста */
  font-size: 14px; /* размер шрифта */
  font-weight: 400; /* жирность шрифта  от 100 до 900, с шагом 100 */
  line-height: 24px; /* отступ между строками*/
  text-align: left; /* выравнивание текста слева */
  padding-left: 40px; /* внутренний отступ слева */
}

.contacts-number-email {
  margin-left: 10px;
  color: #606873; /* цвет текста */
}

a {
  color: #606873; /* цвет текста */
}

.skills-title {
  color: #ffffff; /* цвет текста */
  font-size: 22px; /* размер шрифта */
  font-weight: 700; /* жирность шрифта  от 100 до 900, с шагом 100 */
  line-height: 24px; /* отступ между строками*/
  text-align: left; /* выравнивание текста слева */
  padding-left: 20px; /* внутренний отступ слева */
  margin-top: 40px; /* отступ между блоками отступ сверху */
  margin-bottom: 15px; /* отступ между блоками отступ сверху */
}

.tech-skills-container {
  color: #ffffff; /* цвет текста */
  font-size: 14px; /* размер шрифта */
  font-weight: 400; /* жирность шрифта  от 100 до 900, с шагом 100 */
  line-height: 24px; /* отступ между строками*/
  text-align: left; /* выравнивание текста слева */
  margin-left: 20px; /* внутренний отступ слева */
}

.soft-skills-container {
  color: #a1a5ac; /* цвет текста */
  font-size: 14px; /* размер шрифта */
  font-weight: 400; /* жирность шрифта  от 100 до 900, с шагом 100 */
  line-height: 24px; /* отступ между строками*/
  text-align: left; /* выравнивание текста слева */
  margin-left: 20px; /* внутренний отступ слева */
}

.skills-info {
  color: #eb650c; /* цвет текста */
}

.skills-name {
  color: #ffffff; /* цвет текста */
}

aside {
  width: 370px; /* width - ширина */
  background: #1e2939; /* цвет фона */
  box-sizing: border-box; /* оставляет размер блока неизменным */
  display: flex; /* выравнивание блока, по умолчанию - горизонтально */
  flex-direction: column; /* выравнивание блока вертикально */
  padding-top: 40px; /* внутренний отступ сверху */
  padding-bottom: 40px; /* внутренний отступ снизу */
}

.about-me-container {
  padding-top: 110px; /* внутренний отступ сверху */
  padding-bottom: 110px; /* внутренний отступ снизу */
  padding-left: 90px; /* внутренний отступ слева */
}
